*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: #ebebeb;
}
/*header css*/

header {
    background-color: #EAC926;
}
.upper-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo {
    margin: 3% 0 0 1%;
    width: 55%;
    padding: 2%;
}
#searchbar{
    width: 35%;
    margin-left: 1%;
}
.fa-search {
    font-size: 14px;
    border: solid 1px;
    background-color: #ebebeb;
    padding: 0.5%;
}
.nav-bar{
    display: none;
}

.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    text-align: center;
}

.banner{
    width: 100%;
}

/*Main css*/

h3{
    font-size: 24px;
}
.prices{
    font-size: 18px;
    flex-grow: 0.3;
    margin: 0;
}
main section article img{
    width: 100%;
}
main section article i, .discount {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
    margin: 0;
}
.product-description{
    font-size: 16px;
    line-height: normal;
    color: #ffff;
    margin: -15px 0 0 0;
    display: block;
}
main section div.products article:hover i{
    transform: rotate(-90deg);
}

/*footer css*/

.footer-icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.footer-description {
    margin: 0 10% 6% 10%;
    color: #666;
}

.copyright {
    text-align: left;
    padding: 3%;
    color: #666;
}
